/*XL PC VERSION*/
@media screen and (max-width: 1600px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 90px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 58px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        line-height: 16px;
        top: 54%;
    }
    .services-sec .services-inner .services-info .services-img img {
        height: 100%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 6px;
        padding-top: 14px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 18px;
    }
}

/*LARGE PC VERSION*/
@media screen and (max-width: 1400px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 120px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 86px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 10px;
        padding-top: 0px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 66px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 61%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 12px;
    }
}

/*PC VERSION*/
@media screen and (max-width: 1200px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 90px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 58px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding: 6px 0px;
        line-height: 16px;
    }

    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 50%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 26px;
    }
    /*
.testimonial-sec .testimonial-carousel {
    background-size: 100%;
}
*/
    testimonial-sec .testimonial-inner .quote-icon {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }
    .testimonial-sec .testimonial-inner .testimonial-content {
        padding: 6px 0px;
        line-height: 16px;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 128px;
        margin: 33px 0px 0px 100px;
    }
}
@media (min-width: 992px) and (max-width: 1300px) {
    .photoFrame {
        width: 100%;
    }
}

/*TAB VERSION*/
@media screen and (max-width: 991px) {
    section.footer_top .col-md-4 {
        max-width: 50%;
        flex: none;
    }
    section.footer_top .col-md-4.foot_webcomp {
        max-width: 100%;
    }

    .advise .advise-img {
        padding-bottom: 20px;
    }
    .advise {
        padding: 20px 60px 0px 60px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 120px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 86px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 66px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 54%;
    }
    .testimonial-sec .testimonial-carousel {
        background-size: 62%;
    }
    .testimonial-sec .testimonial-inner .testimonial-info {
        margin: 0 72px 0 auto;
        width: 330px;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 128px;
        margin: 33px 0px 0px 190px;
    }
    .testimonial-sec .testimonial-right {
        text-align: center;
    }
    .testimonial-sec .testimonial-right .title-sec .title {
        text-align: center;
    }
    .testimonial-sec .testimonial-right .testimonial-content {
        padding-bottom: 28px;
    }
    .contact-sec .contact-inner {
        padding-top: 30px;
    }
    .contact-sec .contact-inner .title {
        text-align: center;
    }
    .contact-sec .contact-inner .contact-content {
        line-height: 20px;
        text-align: center;
    }
    .contact-sec .contact-inner .send-btn {
        display: block;
        margin: 0 auto;
    }
    .history-page .title-sec .title {
        text-align: center;
    }
    .history-page .history-inner .history-content {
        text-align: center;
    }
    .history-page .history-inner {
        padding-bottom: 30px;
    }
}
/*MOBILE VERSION*/
@media screen and (max-width: 767px) {
    .testimonial-sec .testimonial-inner .testimonial-info {
        width: 268px;
        margin: 0 auto;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 140px;
        margin: 33px auto 0px auto;
    }
    .testimonial-sec .owl-nav .owl-next i {
        color: var(--secondaryColor);
        padding-left: 0px;
    }
    .testimonial-sec .owl-nav {
        justify-content: space-between;
        top: 28%;
        right: 0;
        bottom: auto;
    }
    .testimonial-sec .testimonial-carousel {
        background-image: none;
    }
    .contact-sec {
        padding-left: 15px;
    }
    .contact-sec .contact-inner .title {
        text-align: center;
    }
    .history-sec .history-inner {
        padding: 40px 0px;
    }
    .history-page {
        padding: 40px 0px;
    }
    .history-page .history-img img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .services-sec .owl-nav .owl-prev {
        margin-left: 0;
    }
    .services-sec .owl-nav .owl-next {
        margin-right: 0;
    }
    .topPanel .navbar-light .navbar-nav .show .dropdown-menu {
        width: 100%;
    }
}

/*LARGE MOBILE VERSION*/
@media screen and (max-width: 575px) {
    section.footer_top .col-md-4 {
        max-width: 100%;
    }
    .activities_menulist_section .activities_list_item {
        grid-template-columns: 100%;
    }
    .activities_list_item_right_white:after {
        border: none;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 184px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 118px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        margin: 0 30px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 56%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 95px;
    }
}

/*SMALL MOBILE VERSION*/
@media screen and (max-width: 480px) {
}
