/*XL PC VERSION*/
@media screen and (max-width: 1600px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 90px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 58px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        line-height: 16px;
        top: 54%;
    }
    .services-sec .services-inner .services-info .services-img img {
        height: 100%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 6px;
        padding-top: 14px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 18px;
    }
    .testimonial-sec .testimonial-carousel {
        padding-bottom: 40px;
    }
}

/*LARGE PC VERSION*/
@media screen and (max-width: 1400px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 120px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 86px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 10px;
        padding-top: 0px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 66px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 61%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 12px;
    }
    .services-sec .services-inner .services-info .services-box .services-body .services-action {
        bottom: 54px!important;
    }
        .services-sec .services-inner .services-info .services-box .services-body .services-content {
        top: 56%;
    }
        .services-sec .services-inner .services-info .services-box .top-img .trangle-img {
        width: 140px!important;
    }
        .services-sec .services-inner .services-info .services-box .services-body .services-title {
         padding-top: 15px; 
    }
        .testimonial-sec .testimonial-carousel{
            padding: 0;
        }
        .testimonial-sec .testimonial-body .testimonial-img{
        margin: 33px 0px 0px 216px;
    }
    .services-sec .services-inner .services-info .services-box .services-body .services-title{
        padding-top: 30px;
    }
}

/*PC VERSION*/
@media screen and (max-width: 1200px) {
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 90px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 58px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding: 6px 0px;
        line-height: 16px;
    }

    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 50%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 26px;
    }
    /*
    .testimonial-sec .testimonial-carousel {
    background-size: 100%;
    }
    */
    testimonial-sec .testimonial-inner .quote-icon {
        font-size: 30px;
        height: 40px;
        width: 40px;
    }
    .testimonial-sec .testimonial-inner .testimonial-content {
        padding: 6px 0px;
        line-height: 16px;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 128px;
        margin: 33px 0px 0px 100px;
    }
    .services-sec .services-inner .services-info .services-box .top-img .trangle-img {
        width: 90px!important;
    }
    .famoussport_item{
        display: block;
        grid-template-columns: auto;
    }
    .famoussport_item .famoussport_img{
        margin: 0 auto 15px;
    }
}
@media (min-width: 992px) and (max-width: 1300px) {
    .photoFrame {
        width: 100%;
    }
}

/*TAB VERSION*/
@media screen and (max-width: 991px) {
    section.footer_top .col-md-4 {
        max-width: 50%;
        flex: none;
    }
    section.footer_top .col-md-4.foot_webcomp {
        max-width: 100%;
    }

    .advise .advise-img {
        padding-bottom: 20px;
    }
    .advise {
        padding: 20px 60px 0px 60px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 120px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 86px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 70px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-title {
        padding-bottom: 10px;
        padding-top: 30px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-action {
        bottom: 66px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 54%;
    }
    .testimonial-sec .testimonial-carousel {
        background-size: 62%;
    }
    .testimonial-sec .testimonial-inner .testimonial-info {
        margin: 0 72px 0 auto;
        width: 330px;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 128px;
        margin: 33px 0px 0px 190px;
    }
    .testimonial-sec .testimonial-right {
        text-align: center;
    }
    .testimonial-sec .testimonial-right .title-sec .title {
        text-align: center;
    }
    .testimonial-sec .testimonial-right .testimonial-content {
        padding-bottom: 28px;
    }
    .contact-sec .contact-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .contact-sec .contact-inner .title {
        text-align: center;
    }
    .contact-sec .contact-inner .contact-content {
        line-height: 20px;
        text-align: center;
    }
    .contact-sec .contact-inner .send-btn {
        display: block;
        margin: 0 auto;
    }
    .history-page .title-sec .title {
        text-align: center;
    }
    .history-page .history-inner .history-content {
        text-align: center;
    }
    .history-page .history-inner {
        padding-bottom: 30px;
    }
    .sport-tablist ul.nav-tabs a.nav-link {
        padding-left: 1em;
        padding-right: 1em;
    }
    .services-sec .services-inner .services-info .services-box .top-img .trangle-img{
        width: 120px!important;
    }
    .services-sec .services-inner .services-info .services-box .services-body .services-action {
        bottom: 52px;
    }
    .services-sec .services-inner .services-info .services-box .services-body .services-title {
        padding-top: 14px;
    }
}
@media screen and (min-width: 768px) {
    .mobile_menu, .topPanel a.closebtn {
        display: none;
    }
    .mobile_bottom_icon{display: none;}
}
/*MOBILE VERSION*/
@media screen and (max-width: 767px) {
    .site_righticon{
        display: none !important;
    }
    .ccfc-body .header .top-header .brand {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .topPanel .navbar-light .nav-item span.submenu_arrow {
        transform: rotate(90deg);
        -o-transform: rotate(90deg);
    }
    .testimonial-sec .testimonial-inner .testimonial-info {
        width: 100%;
        margin: 0 auto;
    }
    .testimonial-sec .testimonial-body .testimonial-img {
        width: 140px;
        margin: 33px auto 0px auto;
    }
    .testimonial-sec .owl-nav .owl-next i {
        color: var(--secondaryColor);
        padding-left: 0px;
    }
    .testimonial-sec .owl-nav {
        justify-content: space-between;
        top: 28%;
        right: 0;
        bottom: auto;
    }
    .testimonial-sec .testimonial-carousel {
        background-image: none;
    }
    .contact-sec {
        padding-left: 15px;
    }
    .contact-sec .contact-inner .title {
        text-align: center;
    }
    .history-sec .history-inner {
        padding: 40px 0px;
    }
    .history-page {
        padding: 40px 0px;
    }
    .history-page .history-img img {
        display: block;
        margin: 0 auto;
        width: 100%;
    }
    .services-sec .owl-nav .owl-prev {
        margin-left: 0;
    }
    .services-sec .owl-nav .owl-next {
        margin-right: 0;
    }
    .topPanel .navbar-light .navbar-nav .show .dropdown-menu {
        width: 100%;
    }
    .topPanel .navbar{
        padding: 20px 0;
    }
    .topPanel .navbar-light .navbar-nav .nav-link{
        font-size: 15px;
        padding: 8px 0px;
    }
    .topPanel .navbar-light .navbar-nav .submenu a{
        padding: 8px 12px;
    }
    .topPanel .navbar-light .navbar-nav .nav-item a {
        padding-left: 20px;
    }
    .topPanel .navbar-light ul ul li a {
        padding-left: 40px !important;
    }
    .topPanel .navbar-light ul ul ul li a {
        padding-left: 50px !important;
    }
    .topPanel .navbar-light ul ul li span.submenu_arrow {
        margin-right: 0 !important;
    }
    .footer-img{
        margin-bottom: 42px;
    }
    .mobile_bottom_icon{
        position:fixed;
        bottom: 0;
        left: 0;
        z-index: 999999;
        width: 100%;
    }
    .mobile_bottom_icon .mb_writeuscall {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .mobile_bottom_icon .mb_writeuscall .mb_write_left {
        background: #000;
        text-align: center;
        padding: 6px;
    }
    .mobile_bottom_icon .mb_writeuscall .mb_call_right {
        background: var(--primaryColor);
        text-align: center;
        padding: 6px;
        color: #fff;
    }
    .mobile_bottom_icon .mb_writeuscall a {
        color: #fff;
        text-transform: uppercase;
        font-family: 'IBM Plex Serif', serif;
        font-weight: 600;
        font-size: 18px;
    }
    .mobile_bottom_icon .mb_writeuscall i {
        background: #fff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #000;
        line-height: 30px;
    }
    .testimonial-sec .testimonial-right .testimonial-logo{
        display: none;
    }
    .testimonial-sec .testimonial-right .testimonial-action{
        display: none;
    }
    .testimonial-sec .testimonial-action-mobile{
        display: block!important;
        margin-top: 30px;
        text-align: center;
    }

    .or-2 {
        order: 2;
    }
    .or-1 {
    order: 1;
    }
    .services-sec .services-inner .services-info .services-img {
    height: 400px;
}
    .services-sec .services-inner .services-info .services-img img {
    object-fit: cover;
}
    .services-sec .services-inner .services-info .services-box .services-body .services-title {
    padding-top: 15px;
}
    .services-sec .services-inner .services-info .services-box .services-body .services-content {
    top: 58%;
}
    .services-sec .services-inner .services-info .services-box .services-body .services-action {
    bottom: 60px;
}
}

/*LARGE MOBILE VERSION*/
@media screen and (max-width: 575px) {
    section.footer_top .col-md-4 {
        max-width: 100%;
    }
    .activities_menulist_section .activities_list_item {
        grid-template-columns: 100%;
    }
    .activities_list_item_right_white:after {
        border: none;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .top-img
        .trangle-img {
        width: 184px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 118px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        margin: 0 30px;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .services-body
        .services-content {
        top: 56%;
    }
    .services-sec
        .services-inner
        .services-info
        .services-box
        .img-box.gym-img
        img {
        width: 95px;
    }
    .services-sec .services-inner .services-info .services-box .img-box img {
        width: 86px;
    }
        .services-sec .services-inner .services-info .services-box .img-box.gym-img img {
        width: 70px;
    }
}

/*SMALL MOBILE VERSION*/
@media screen and (max-width: 480px) {
    .mobile_bottom_icon .mb_writeuscall a{font-size: 16px;}
}
