/***********GOOGLE FONT***********/
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/***********CUSTOM CSS STARTS***********/
html {
    scroll-behavior: smooth;
}
::-moz-selection { /* Code for Firefox */
    color: var(--white);
    background: var(--primaryColor);
  }
  
  ::selection {
    color: var(--white);;
    background: var(--primaryColor);
  }

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    font-family: 'Lato', sans-serif;
}

.font-ibm {
    font-family: 'IBM Plex Serif', serif;
}

.title-sec .title {
    font-family: 'IBM Plex Serif', serif;
    font-size: 24px;
    font-weight: 500;
    color: var(--secondaryColor);
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}

.flex-v-cen {
    display: flex;
    align-items: center;
}

.flex-cen {
    display: flex;
    align-items: center;
    justify-content: center;
}
.owl-dots {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%,0);
}
.owl-theme .owl-dots .owl-dot span {
    background: #999;
    height: 10px;
    width: 10px;
    display: block;
    border-radius: 50%;
    margin: 4px;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: var(--primaryColor);
}

/***********CUSTOM CSS ENDS***********/


/***********BOOTSTRAP FIX STARTS***********/

@media (min-width: 576px) {
    .container {
        max-width: none;
    }

    .modal-dialo {
        max-width: 700px;
    }

    .modal-sm {
        max-width: 400px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1440px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1600px) {
    .container {
        max-width: 100%;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 100%;
    }
}

/***********BOOTSTRAP FIX ENDS***********/






/* ********|| HEADER STARTS ||******** */
.ccfc-body .header{
    position: sticky;
    top: 0px;
    z-index: 999;
}
.siteleft_panel{
    box-shadow: 2px 1px 4px #ddd;
}
.ccfc-body .header .top-header .brand {
    padding: 10px 0px;
}

.ccfc-body .header .top-header .brand .logo img {
    display: block;
    margin: 0 auto;
    max-width: 120px;
}

.ccfc-body .header .top-header .member-login {
    background: var(--primaryColor);
    text-align: center;
    padding: 10px 50px;
}

.ccfc-body .header .top-header .member-login .member-title {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}

.ccfc-body .header .top-header .member-login .form-group .form-control {
    background-color: #951014!important;
    border-radius: 50px;
    border: none;
    font-size: 14px;
}

.ccfc-body .header .top-header .member-login .form-group .form-control::placeholder {
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff1f1;
    letter-spacing: 0.5px;
}

.ccfc-body .header .top-header .member-login .form-group .login-btn {
    background-color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryColor);
    border-radius: 50px;
    border: none;
    padding: 4px 16px;
    text-transform: uppercase;
}

.ccfc-body .header .top-header .member-login .form-group .forgot {
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    color: #fff1f1;
    letter-spacing: 0.5px;
    text-decoration: underline;
}
.ccfc-body .header .top-header .member-login .form-group{
    margin-bottom: 10px;
}

.member_aftelogin_btn {
    border-top: 1px solid #ce6667;
    margin-top: 10px;
}
.member_aftelogin_btn ul {
    padding: 0;
    list-style: none;
    margin-top: 12px;
}
.member_aftelogin_btn ul li a {
    display: block;
    line-height: 27px;
    color: #fff;
    background: #951014;
    margin-bottom: 10px;
    padding: 3px 20px;
    border-radius: 20px;
    font-family: 'IBM Plex Serif', serif;
}
.member_aftelogin_btn ul li.mem-aftlogin_signout a{
    background: #fff;
    color: #951014;
}
.member_aftelogin_btn ul li a:hover{
    background: #6a0b0e;
    color: #fff;
    text-decoration: none;
}

/* ********|| HEADER ENDS ||******** */

/* ********|| NAV BAR STARTS ||******** */
/* ============================================================================= */

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu a::after {
    transform: rotate(-90deg) translate(0, -50%);
    position: absolute;
    right: 6px;
    top: 50%;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
/*    left: 100%;*/
    margin-left: .1rem;
    margin-right: .1rem;
/*
    background: var(--primaryColor);
    width: 260px;
*/
    
}

.dropdown:hover .dropdown-menu {
    padding: 12px;
}

.dropdown-menu li a.dropdown-item {
    padding: 10px 15px;
    white-space: normal;
    position: relative;
    color: #fff;
}

.dropdown-menu li a.dropdown-item:hover {
    background-color: #951014;
}
.topPanel .navbar-light .navbar-nav .dropdown-menu li a.dropdown-item {
    font-size: 14px;
    padding: 6px;
    line-height: 1.2;
}

.dropdown-menu {
   background: var(--primaryColor);
        width: 230px;
    right: -220px;
    left: initial;
    top: 0px;
    border-radius: 0px;
}
.topPanel .navbar-light .nav-item span.submenu_arrow {
    float: right;
    font-size: 20px;
    line-height: 1.25;
    color: var(--primaryColor);
    margin-right: 12px;
}
.topPanel .navbar-light .nav-item span.submenu_arrow i {
    font-weight: 800;
}
.topPanel .navbar-light .navbar-nav .submenu a {
    color: #fff;
    font-size: 14px;
    display: block;
    padding: 6px 12px;
    font-family: 'IBM Plex Serif', serif;
    font-weight: normal;
}
.topPanel .navbar-light .navbar-nav .submenu a:hover{
    color: var(--primaryColor);
    text-decoration: none;
}
.topPanel .navbar-light .submenu .nav-item span.submenu_arrow {
    color: var(--primaryColor);
}
.topPanel .navbar-light .navbar-nav .submenu .nav-item {
    border: none;
}
.topPanel .submenu, .topPanel .dropdown-menu {
    background: #eee;
    border: none;
    padding: 0;
}
.topPanel .navbar-light .navbar-nav .submenu a {
    color: #000;
    padding: 4px 12px;
    font-weight: 600;
}


@media (min-width: 992px) {

    .dropdown > .dropdown-menu,
    ul.dropdown-menu > li.dropdown-submenu > .dropdown-menu {
        transition: all 0.5s;
        transform-origin: top center;
        transform: scale(1, 0);
        opacity: 0;
        display: block;
        position: absolute;
    }

    .dropdown:hover .dropdown-menu,
    ul.dropdown-menu > li:hover > .dropdown-menu {
        transform: scale(1);
        opacity: 1;
        /*width: 100%;*/
    }
    .dropdown-menu.dropdown-menu-sub {
        right: -235px;
    }
    .topPanel li{ position: relative; }  
    .topPanel li .submenu{ 
        display: none;
        position: absolute;
        left:100%; 
        top:0;
        min-width: 240px;
        padding: 12px;
    }
    

    [dir=rtl] .topPanel li .submenu{ 
        right:100%; left:auto;
    }

    .topPanel li:hover{ background: var(--bs-light); }
    .topPanel li:hover > .submenu{ 
        display: block; 
        background: var(--primaryColor);
        border-radius: 0.25em; 
    }
    .topPanel .navbar-light .navbar-nav .submenu a{color: #fff;}
    .submenu.dropdown-menu:after{
        position: absolute;
        content: '';
        background: var(--primaryColor);
        height: 8px;
        width: 8px;
        transform: rotate(45deg); 
        left: -5px;
        top: 14px;
    }
    .topPanel .navbar-light .navbar-nav .submenu a:hover{color: var(--white); background: #b01d22;}

    
}

@media (max-width: 991px) {
    .topPanel .dropdown-menu-item-sub::after {
        transform: rotate(45deg);
    }
    .topPanel .submenu, .topPanel .dropdown-menu{
        position: static!important;
        /* margin-left:0.7rem; 
        margin-right:0.7rem; 
        margin-bottom: .5rem; */
        width: 100%;
    }
    .topPanel li li .submenu {
        background: #ddd;
        margin-top: 0;
        padding-left: 20px;
    }
    .topPanel li li .submenu li a:hover {
        background: none !important;
    }
}

nav.navbar .navbar-nav > li > .dropdown-menu > li.active > a.active {
    color: var(--secondaryColor);
}

nav.navbar .navbar-nav > li.active > a.nav-link {
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}


.topPanel .navbar-light .navbar-nav .active > .nav-link,
.topPanel .navbar-light .navbar-nav .nav-link.active,
.topPanel .navbar-light .navbar-nav .nav-link.show,
.topPanel .navbar-light .navbar-nav .show > .nav-link {
    color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    letter-spacing: 0.5px;
}

.topPanel .navbar-light .navbar-nav .nav-link {
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    font-weight: 600;
/*    border-bottom: 1px solid #c5c5c5;*/
    padding: 4px 0px;
}
.topPanel .navbar-light .navbar-nav .nav-item{
   border-bottom: 1px solid #c5c5c5; 
}
.topPanel .navbar-light .navbar-nav .nav-item.dropdown-menu-item-sub{
    border-bottom: none; 
 }  

.topPanel .navbar-light .navbar-nav .nav-item:last-child {
    border: none;
}

.topPanel .navbar {
    display: block;
    padding: 20px 30px;
}

.topPanel .dropdown-toggle::after {
    position: absolute;
    right: 28px;
    top: 9px;
    transform: rotate(44deg);
    -webkit-transform: rotate(44deg);
}
.arrow-dropdown{
    position: relative;
}

.dropdown-toggle::after{
    border: solid var(--primaryColor);
    height: 8px;
    border-width: 0px 2px 2px 0px;
    width: 8px;
    transform: rotate(45deg);
}
.site_righticon ul {
    list-style: none;
    padding: 0;
  } 
.site_righticon ul li {
    width: 50px;
    height: 50px;
    position: relative;
    background: var(--primaryColor);
    margin: 10px 0;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}
.site_righticon ul li .zmdi  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 26px;
    color: #fff;
    z-index: 9;
}
.site_righticon .slider {
    content: "";
    position: absolute;
    top: 0;
    right: 6px;
    width: 0px;
    height: 50px;
    background: var(--primaryColor);
    border-radius: 32px;
    transition: all 0.5s 0.3s ease;
} 
.site_righticon .slider p {
    font-size: 16px;
    font-weight: 900;
    color: #fff;
    text-align: center;
    line-height: 50px;
    padding-right: 35px;
    opacity: 0;
    transition: all 0.6s ease;
}
.site_righticon .slider a{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}
.site_righticon ul li:hover .slider {
    width: 260px;
    transition: all 0.5s ease;
} 
.site_righticon ul li:hover .slider p {
    opacity: 1;
    transition: all 1s 0.2s ease;
}
.site_righticon {
    position: fixed;
    right: 0;
    z-index: 999;
    top: 50%;
    transform: translate(0,-50%);
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#eee;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }


/* ============================================================================= */


/* ********|| NAV BAR ENDS ||******** */
.right-body{
    position: relative;
/*    z-index: -1;*/
}
/* ********|| CCFC LOCATION START ||******** */
.ccfc-location {
    padding: 0px 30px;
}

.ccfc-location .ccfc-location-inner ul {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    border: 1px solid #c5c5c5;
    border-width: 1px 0px;
}

.ccfc-location .ccfc-location-inner ul li {
    display: flex;
    align-items: center;
}

.ccfc-location .ccfc-location-inner ul li i {
    color: var(--secondaryColor);
    font-size: 24px;
    padding-right: 8px;
}

.ccfc-location .ccfc-location-inner ul li .mail {
    transform: rotate(45deg);
    padding-top: 8px;
}

.ccfc-location .ccfc-location-inner ul li .ccfc-icon {
    text-decoration: none;
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 500;
    transition: ease 0.3s;
}

.ccfc-location .ccfc-location-inner ul li .ccfc-icon:hover {
    color: var(--secondaryColor);
}

.ccfc-location .ccfc-social ul {
    padding: 10px 0px;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.ccfc-location .ccfc-social ul li .social-icon i {
    color: var(--textColor);
    font-size: 20px;
    transition: ease 0.3s;
}

.ccfc-location .ccfc-social ul li .social-icon i:hover {
    color: var(--secondaryColor);
}

.ccfc-location .copy-part .copy-title {
    border: 1px solid #c5c5c5;
    border-width: 1px 0px;
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 6px;
}

.ccfc-location .copy-part .copy-content {
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    padding-top: 6px;
}

.ccfc-location .copy-part .copy-content .keyline {
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

/* ********|| CCFC LOCATION END ||******** */


/* ********|| BANNER START ||******** */

.banner .owl-theme .owl-dots .owl-dot.active span,
.banner .owl-theme .owl-dots .owl-dot:hover span {
    background-color: var(--primaryColor);
}

.banner .owl-theme .owl-dots .owl-dot span {
    background-color: #fff;
    height: 10px;
    width: 10px;
    display: block;
    margin: 5px;
    border-radius: 50%;
}

.banner .owl-theme .owl-dots {
    position: absolute;
    bottom: 0;
    right: 95px;
    left: auto;
}

/* ********|| BANNER END ||******** */
.content_inner p{
    font-family: 'IBM Plex Serif', serif;
}
/* ********|| ADVISE START ||******** */
.advise {
    padding: 20px 60px;
}

/* ********|| ADVISE END ||******** */

/* ********|| HISTORY START ||******** */
.history-sec {
    background-color: #f6f6f6;
}

.history-sec .history-inner {
    padding: 40px;
}

.history-sec .history-inner .history-content {
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    padding-bottom: 10px;
}

.history-sec .history-inner .history-action .read-btn {
    color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    margin: 0 auto;
}
.history-sec .history-img{
    padding-bottom: 40px;
}
.history-sec .project-item .item-img .hvr{

    position: absolute;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.67);

    top: 0;

    color: #fff;

    font-size: 50px;

    display: flex;

    justify-content: center;

    align-items: center;

    opacity: 0;

    transition: ease 0.10s;

}

.history-sec .project-item .item-img .hvr i{

/*    background-color: var(--primaryColor);*/

    height: 60px;

    width: 60px;

    border-radius: 50%;

    display: flex;

    justify-content: center;

    align-items: center;

    transition: ease 0.10s;

}

.history-sec .project-item .item-img:hover .hvr{

    opacity: 1;

}
.history-sec .owl-nav {
    font-size: 40px;
    text-align: center;
}
.history-sec .owl-nav .owl-prev i {
    color: #b8b8b8;
    padding-right: 8px;
}
.history-sec .owl-nav .owl-next i {
    color: var(--secondaryColor);
    padding-left: 8px;
}
 

/* ********|| HISTORY END ||******** */

/* ********|| SERVICES START ||******** */
.services-sec{
    padding: 60px 0px;
}
.services-sec .services-inner .services-info{
    position: relative;
    /* margin: 0px 16px; */
}
.services-sec .services-inner{
    padding-top: 30px;
}
/*
.services-sec .services-inner .services-info:after{
    position: absolute;
    content: '';
    background-image: url(../img/services-box-01.svg);
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
}
*/
.services-sec .services-inner .services-info .services-box{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.57); transition: ease 0.3s;   
}
.services-sec .services-inner .services-info .services-box .img-box img{
   width: 86px; 
    display: block;
    margin: 0 auto;
}
.services-sec .services-inner .services-info .services-box .img-box.gym-img img{
   width: 70px; 
}
/*
.services-sec .services-inner .services-info .services-box .img-box.swim-img img{
   width: 70px; 
}
*/
/*
.services-sec .services-inner .services-info .services-box .img-box.bar-img img{
   width: 70px; 
}
*/
.services-sec .services-inner .services-info .services-box .top-img .trangle-img{
    position: relative;
    width: 120px;
        display: block;
    margin: 0 auto;
    transition: ease 0.3s;
}
/*
.services-sec .services-inner .services-info .services-box .top-img .trangle-img img{
    position: relative;
}
*/
.services-sec .services-inner .services-info .services-box:hover .top-img .trangle-img:after{
       position: absolute;
    content: '';
    top: 0px;
    width: 100%;
    box-shadow: 0px 0px 10px 1px #888888;
}

.services-sec .services-inner .services-info .services-box .top-img .img-box{
    position: absolute;
    top: 20px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
}
.services-sec .services-inner .services-info .services-box .services-body{
    text-align: center;
    padding: 0px 15px;
}
.services-sec .services-inner .services-info .services-box .services-body .services-title{
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    padding-top: 30px;
}
.services-sec .services-inner .services-info .services-box .services-body .services-content{
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
            top: 56%;
    letter-spacing: 0.5px;
    margin: 0 10px;
/*    padding-bottom: 30px;*/
    line-height: 18px;
/*    height: 110px;*/
}
.services-sec .services-inner .services-info .services-box .services-body .services-action .read-btn{
    background-color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 6px 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}
.services-sec .services-inner .services-info .services-box:hover{
    background-color: rgba(194, 50, 51, 0.78);
}
.services-sec .services-inner .services-info .services-box:hover .services-body .services-action .read-btn{
   background-color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--secondaryColor); 
}
.services-sec .services-inner .services-info .services-box .services-body .services-action{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
}
.services-sec .services-inner .services-info .services-img img{
        height: 400px;
}
.services-sec .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    /* bottom: 52px; */
    top: 42%;
    /* right: 60px; */
    font-size: 40px;
    z-index: 9;
}
.services-sec .owl-nav .owl-prev {
    margin-left: -20px;
}
.services-sec .owl-nav .owl-next {
    margin-right: -20px;
}
.services-sec .owl-nav {
    color: #b8b8b8;
}
.services-sec .owl-nav i:hover {
    color: var(--secondaryColor);
}
/*
.services-sec .services-inner .services-info .services-box:hover .top-img .trangle-img{
    box-shadow: 
}
*/
/* ********|| SERVICES END ||******** */

/* ********|| SPORTS START ||******** */
.sports-sec{
    background-image: url(../img/sports-banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 0px;
}
.sports-sec .title-sec .title{
    color: #fff;
    padding-bottom: 40px;
}
.sports-sec .sports-inner .sports-info .sports-img{
    width: 144px;
    display: block;
    margin: 0 auto;
}
.sports-sec .sports-inner .sports-info .sports-box{
    text-align: center;
} 
.sports-sec .sports-inner .sports-info .sports-box .sports-title{
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
    padding-bottom: 10px;
    padding-top: 30px;
    text-transform: uppercase;
}
.sports-sec .sports-inner .sports-info .sports-box .sports-content{
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
    padding-bottom: 30px;
    line-height: 18px;
}
.sports-sec .sports-inner .sports-info .sports-box .sports-action .read-btn{
/*    background-color: var(--secondaryColor);*/
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}
.sports-sec .sports-inner .sports-info .sports-box .sports-action .read-btn:hover {
    background-color: #fff;
  border-radius: 50px;
        padding: 6px 16px;
    color: var(--secondaryColor);
}
.sports-sec .sports-inner .sports-info .sports-box .sports-action{
    padding-bottom: 20px;
}
.sports-sec .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    /* bottom: 52px; */
        top: 12%;
    /* right: 60px; */
    font-size: 40px;
    color: #fff;
}
.sports-sec .owl-nav .owl-next i {
    color: #fff;
}
.sports-sec .owl-nav .owl-prev i {
    color: #8b8b8b;
}




/* ********|| SPORTS END ||******** */

/* ********|| CLUB START ||******** */
.club-sec{
    padding: 60px 0px;
}
.club-sec .club-inner .nav{
    justify-content: center;
}
.club-sec .club-inner .nav-tabs .nav-link.active {
    position: relative;
    color: var(--secondaryColor);
    border: 1px solid transparent;
    background-color: transparent;
}
.club-sec .club-inner .nav-tabs .nav-link.active:before {
    position: absolute;
    content: '';
    background-color: var(--secondaryColor);
    height: 2px;
    width: 102%;
    top: 32px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.club-sec .club-inner .nav-tabs .nav-link.active:after {
    position: absolute;
    content: '';
    background-color: var(--secondaryColor);
    clip-path: polygon(0 50%, 100% 50%, 50% 100%, 0% 50%);
    height: 15px;
    width: 15px;
    top: 25px;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.club-sec .club-inner .nav-tabs .nav-link {
    color: var(--textColor);
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 16px;
    font-family: 'IBM Plex Serif', serif;
}
.club-sec .club-inner .nav-tabs{
    border: none;
    padding-bottom: 40px;
}
.club-sec .club-inner .club-info .club-body .club-img img{
    width: 100px;
    display: block;
    margin: 0 auto;
}
.club-sec .club-inner .club-info .club-body .club-title{
    font-family: 'IBM Plex Serif', serif;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondaryColor);
    letter-spacing: 0.5px;
    padding-top: 10px;
    text-align: center;
    line-height: 1.25;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
        border-color: transparent;
}
/* ********|| CLUB END ||******** */

/* ********|| TESTIMONIAL START ||******** */
.testimonial-sec{
    background-color: #f6f6f6;
    padding: 60px 0px;
}
.testimonial-sec .testimonial-body .testimonial-img{
              border-radius: 50%;
    border: 9px solid #fff;
    overflow: hidden;
    width: 146px;
    display: block;
    margin: 33px 0px 0px 216px;
}
.testimonial-sec .testimonial-carousel{
    background-image: url(../img/testimonial-part1.png);
/*    background-size: cover;*/
    background-repeat: no-repeat;
/*    padding: 60px 0px;*/
/*
        height: 600px;
    width: 600px;
*/
    background-size: 80%;
    padding-bottom: 120px;
}
.testimonial-sec .testimonial-action-mobile{
    display: none;
}
.testimonial-sec .testimonial-inner .testimonial-profession:after{
   position: absolute;
    content: '';
    background-image: url(../img/testimonial-arrow.png);
    width: 60px;
    height: 60px;
    top: 76px;
    right: 100px;
}
.testimonial-sec .testimonial-inner .testimonial-info{
        margin: 0 0 0 auto;      
    width: 250px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: -1px 20px 24px -6px #0e0e0e45;
}
.testimonial-sec .testimonial-inner .quote-icon{
    font-size: 40px;
    color: #fff;
    background-color: var(--secondaryColor);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}
.testimonial-sec .testimonial-inner .quote-icon i{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    transform: rotate(180deg);
}
.testimonial-sec .testimonial-inner .testimonial-content{
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0px;
    line-height: 18px;
}
.testimonial-sec .testimonial-inner .testimonial-profession{
    position: relative;
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.testimonial-sec .testimonial-inner .testimonial-name{
    color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.testimonial-sec .testimonial-right .title-sec .title{
    text-align: left;
    padding: 24px 0px 20px 0px;
}
.testimonial-sec .testimonial-right .testimonial-content{
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    padding-bottom: 90px;
}
.testimonial-sec .testimonial-right .testimonial-action .read-btn{
/*        background-color: var(--secondaryColor);*/
    border: 1px solid var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--textColor);
    border-radius: 50px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}
.testimonial-sec .testimonial-inner .testimonial-info .testimonial-action .read-btn{
/*    border: 1px solid var(--secondaryColor);*/
    background-color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    padding: 6px 12px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}
.testimonial-sec .testimonial-inner .testimonial-info .testimonial-action{
    text-align: center;
    margin-top: 12px;
}
.testimonial-sec .owl-nav{
        display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 52px;
    right: 60px;
    font-size: 40px;
}
.testimonial-sec .owl-nav i{
    color: #b8b8b8;
}
.testimonial-sec .owl-nav .owl-next i{
    padding-left: 20px;
}
.testimonial-sec .owl-nav i:hover{
    color: var(--secondaryColor);
}

/*
.testimonial-sec .testimonial-inner .testimonial-info{
          position: absolute;
    top: 0;
    width: 300px;
    right: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    box-shadow: -1px 20px 24px -6px #0e0e0e45;
}


.testimonial-sec .testimonial-inner .testimonial-text-box{
    position: relative;
}
.testimonial-sec .left-img{
    width: 500px;
}



.testimonial-sec .testimonial-right .title-sec .title{
    text-align: left;
}
.testimonial-sec .testimonial-right .testimonial-content{
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
}
*/
.testimonial-sec .testimonial-action-mobile .read-btn {
    border: 1px solid var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--textColor);
    border-radius: 50px;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
}

/* ********|| TESTIMONIAL END ||******** */

/* ********|| CONTACT START ||******** */
.contact-sec .contact-left .map iframe{
    width: 100%;
    height: 320px;
}
.contact-sec .contact-left .map-location{
    background: var(--primaryColor);
    padding: 30px 40px;
    margin-top: -6px;
}
.contact-inner {
    padding-top: 50px;
}
.contact-sec .contact-left .map-location .map-content{
        font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.5px;
    padding-bottom: 5px;
}
.contact-sec .contact-left .map-location .map-content:last-child{
/*    padding-bottom: 0px;*/
    padding-top: 14px;
}
.contact-sec .contact-left .map-location .contact-location {
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    /* padding-bottom: 6px; */
}
.contact-sec .contact-left .map-location .contact-location .contact-btn{
    font-family: 'IBM Plex Serif', serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0.5px;
    text-decoration: none;
}
.contact-sec .contact-inner .title{
    text-align: left;
    padding-bottom: 6px;
}
.contact-sec .contact-inner .contact-content{
    color: var(--trirdColor);
    font-size: 16px;
    line-height: 16px;
    font-family: 'IBM Plex Serif', serif;
}
.contact-sec .contact-inner .contact-form{
    padding-top: 30px;
}
.contact-sec .contact-inner .contact-form .form-group .form-control{
    border: solid #b8b8b8;
    border-width: 0px 0px 1px 0px;
    border-radius: 0;
}
.contact-sec .contact-inner .contact-form .form-group .form-control::placeholder{
    color: var(--trirdColor);
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
}
.contact-sec .contact-inner .send-btn{
    background-color: var(--secondaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    color: #fff;
    border-radius: 50px;
    border: none;
    padding: 8px 16px;
    text-transform: uppercase;
    text-decoration: none;
    transition: ease 0.3s;
        margin-top: 20px;
}
.contact-sec{
    position: relative;
}
/*
.contact-sec:after{
        position: absolute;
    content: '';
    background-image: url(../img/footer-ban.png);
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0px;
    height: 18px;
    width: 100%;
}
*/
/*
.contact-sec .contact-inner{
    padding-right: 60px;
} 
*/
/* ********|| CONTACT END ||******** */

/* ********|| Past President Start ||******** */
.pastpresdit_inner {
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #fff;
    padding: 15px 10px 25px;
    margin-bottom: 30px;
}
.passtpredi_name {
    text-align: center;
    margin-top: 20px;
}
.pastprdi_img {
    text-align: center;
}
.photoFrame {
    position: relative;
    width: 180px;
    height: 205px;
    padding: 12px 0 0 0;
    overflow: hidden;
    margin: 0 auto;
}
.photoFrame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/past-president/outer-frame.png);
    z-index: 9;
    background-size: 100% 100%;
}
.photoFrame img {
    width: auto;
    z-index: 9;
    /*height: 100%;*/
    position: absolute;
    max-width: 176px;
    left: 50%;
    right: 0;
    transform: translateX(-50%);
}
.passtpredi_name h2 {
    color: #be1f24;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin-bottom: 2px;
}
.passtpredi_name p {
    margin-bottom: 0;
    font-size: 12px;
    font-family: 'IBM Plex Serif', serif;
}
/* ********|| Past President END ||******** */


/* ********|| Activities Start ||******** */
.activites_rightside {
    padding: 20px;
    margin-top: 60px;
    text-align: center;
}
.active_rightimg {
    margin-bottom: 15px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
}
#activities-clubkitchen .modal-dialog {
    max-width: 850px;
}
#activities-dinning .modal-content, #activities-clubkitchen .modal-content {
    padding: 15px;
}
#activities-dinning .modal-content .modal-header, #activities-clubkitchen .modal-content .modal-header{
    padding: 0;
    position: absolute;
    top: -12px;
    right: -12px;
    border: none;
    background: var(--primaryColor);
    opacity: 1;
    color: #fff;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    z-index: 999;
}
#activities-dinning .modal-content .modal-header button.close,  #activities-clubkitchen .modal-content .modal-header button.close{
    margin: 0;
    padding: 0 0 0 7px;
    display: block;
    float: none;
    opacity: 1;
    color: #fff;
}
.carousel-control-next, .carousel-control-prev {
    width: auto;
    opacity: 1;
}
.carousel-control-next i, .carousel-control-prev i {
    background: var(--primaryColor);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 34px;
}
.activities_menulist_section .activities_list_item {
    background: #be1f24;
    margin-bottom: 25px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-columns: 60% 40%;
}
.activities_list_item_left {
    padding: 20px;
}
.activities_list_item_leftinfo h3{
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    color: #fff;
}
.activities_list_item_left ul {
    padding-left: 20px;
    color: #fff;
    margin-bottom: 0;
}
.activities_list_item_right{
    position: relative;
}
.activities_list_item_right::before{
    position:absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #9e161a;
}
.activities_list_item_right {
    position: relative;
    display: flex;
    align-items: center;
}
.activities_list_item_right .activities_list_item_right_white {
    background: #fff;
    border-radius: 20px;
    width: 100%;
    position: relative;
    text-align: center;
    margin: 20px;
    padding: 20px;
}
.activities_list_item_right_white button:focus{
    box-shadow: none;
}
.activities_list_item_right_white button{
    color: var(--primaryColor);
    font-family: 'IBM Plex Serif', serif;
    font-weight: 600;
    font-size: 22px;
}
.activities_list_item_right_white:after {
    content: '';
    position: absolute;
    top: 50%;
    left: -20px;
    z-index: 1;
    transform: translateY(-50%);
    border-left: 10px solid var(--primaryColor);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}

/* ********|| Activities END ||******** */


/* ********|| Sports start ||******** */
section.sports-page {
    padding: 40px 20px;
    background: #f8f8f8;
}
.sports_tabsection {
    padding: 40px;
}
.sport-tablist {
    width: 100%;
    display: inline-block;
}
.sport-tablist ul.nav-tabs {
    display: flex;
    border: none;
    justify-content: center;
}
.sport_tab_content_section .row {
    justify-content: center;
}
.sport-tablist ul.nav-tabs a.nav-link.active {
    position: relative;
}
.sport-tablist ul.nav-tabs a.nav-link.active::after {
    position:absolute;
    content: "";
    background: var(--primaryColor);
    width: 80%;
    height: 2px;
    left: 50%;
    bottom: 0%;
    transform: translate(-50%, 0);
}
.sport-tablist #owl_player_icon {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.sport-tablist ul.nav-tabs a.nav-link {
    border: none;
}
.sport-tablist .nav-tabs .nav-link .tab_icontext {
    text-align: center;
}
.sport-tablist .nav-tabs .nav-link .tab_icontext img {
    filter: grayscale(1);
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}
.sport-tablist .nav-tabs .nav-link.active .tab_icontext img, .sport-tablist .nav-tabs .nav-link:hover .tab_icontext img {
    filter: none;
    -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
}
.sport-tablist .nav-tabs .nav-link .tab_icontext h3 {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'IBM Plex Serif', serif;
    color: #444;
    margin-top: 6px;
}
.sport-tablist .nav-tabs .nav-link.active .tab_icontext h3{
    color: var(--primaryColor);
}
.sport-tablist ul.nav-tabs a.nav-link {
    border: none;
    padding-left: 2em;
    padding-right: 2em;
}
.sport_tab_content_section .sport_tab_ceibity-img {
    overflow: hidden;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 8px solid #fff;
    display: inline-block;
}
.sport_tab_content_section img {
    width: 100%;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.sports_tabcontent_inner {
    text-align: center;
    margin: auto;
    background: #898989;
    padding: 25px 15px;
    transition: all .5s ease-in-out;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 25px;
}
.sports_tabcontent_inner:hover{
    background: var(--primaryColor);
}
.sports_tabcontent_inner:hover .sport_tab_ceibity-img img{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}
.sport_tab_content_section .sport_player {
    padding-top: 15px;
}
.sport_tab_content_section .sport_player h3 {
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
    font-size: 18px;
    margin-bottom: 24px;
}
.sport_tab_content_section .sport_player .sport_player_detail h4 {
    font-size: 16px;
    font-family: 'IBM Plex Serif', serif;
    margin-bottom: 2px;
    color: #fff;
}
.sport_tab_content_section .sport_player .sport_player_detail p{
    margin-bottom: 0;
    font-size: 14px;
    word-break: break-word;
}
.sport_tab_content_section .sport_player .sport_player_detail p a{
    color: #fff;
    font-family: 'IBM Plex Serif', serif;
}
.sport_tab_content_section .sport_player .sport_player_detail p a:hover{
    text-decoration: none;
}
.owl-carousel.off {
    display: block;
}
.sport_tab_content_section {
    padding-top: 40px;
}
.sports-sec .owl-carousel .owl-nav.disabled {
    display: flex;
}
.sports-sec .owl-nav button.owl-prev {
    margin-left: -20px;
}
.sports-sec .owl-nav button.owl-next {
    margin-right: -20px;
}


/* ********|| Sports END ||******** */


/* ********|| FOOTER START ||******** */
.footer-img{
    /*position: absolute;*/
    display: flex;
}
.foot_copyright {
    background: #dedede;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    display: grid;
    align-items: center;
    padding: 10px;
    font-size: 12px;
}
.foot_copyright a{
    color: #212529;
    font-family: 'IBM Plex Serif', serif;
}
.foot_copyright .foot_webcompany, .foot_copyright .foot_webcompany a {
    color: #959494;
}
.foot_social{
    background: #f2f2f2;
    text-align: center;
    font-family: 'IBM Plex Serif', serif;
    display: grid;
    align-items: center;
    padding: 10px;
}
.footer_social_inner ul {
    margin-bottom: 0;
    list-style: none;
    display: flex;
    padding: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
section.footer_top .col-md-4 {
    display: grid;
    flex-direction: row;
    align-items: stretch;
}
.footer_social_inner a.social-icon {
    color: #515151;
    font-size: 18px;
}
.footer_social_inner a.social-icon:hover {
    color: var(--primaryColor);
}
/* ********|| FOOTER END ||******** */

/* ********|| FOOTER END ||******** */
.history-page{
    padding: 60px;
}
.history-page .title-sec .title{
    text-align: left;
}
.history-page .history-inner .history-content{
    text-decoration: none;
    color: var(--textColor);
    font-family: 'IBM Plex Serif', serif;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 8px;
    line-height: 18px;
}
.history-page .history-img{
    padding-bottom: 30px;
}
/* ********|| FOOTER END ||******** */


.cricket-banner{
    position: relative;
}

.cricket-banner .cricket-title{
        position: absolute;
    top: 45%;
    color: #fff;
    font-size: 40px;
    display: block;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
}

.history-content #more {
        display: none;
    }


























